@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* box-sizing so padding or margin wont affect the actual size.*/ 
* {
    box-sizing: border-box;
}

body {
    background-color: rgb(219, 233, 233);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.empty {
    height: 150px;
    width: 150px;
    margin: 10px;
    border: solid 3px rgb(24, 17, 17);
    background: rgb(231, 222, 222);
}

.fill {
    background-image: url('https://source.unsplash.com/random/150x150');
    height: 145px;
    width: 145px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.hold {
    border: solid 5px #ccc;
}
  
.hovered {
    background-color: rgb(138, 24, 24);
    border-color: white;
    border-style: dashed;
  }

@media (max-width: 800px) {
    body {
        flex-direction: column;
    }
}