@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

/* box-sizing so padding or margin wont affect the actual size.*/ 
* {
    box-sizing: border-box;
}

body {
    background-color: rebeccapurple;
    font-family: 'Poppins', sans-serif;
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.btn {
    background-color: white;
    color: rebeccapurple;
    font-family: inherit;
    font-weight: bold;
    font-size: 20px;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn {
    outline: none;
}

.btn:active {
    transform: scale(0.98);
}

.notification {
    width: 50px;
    height: inherit;
    color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
  
.notification::after {
    min-width: 20px;
    height: 20px;
    content: attr(data-count);
    background-color: #ed657d;
    font-family: monospace;
    font-weight: bolt;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 5px;
    transition: .3s;
    opacity: 0;
    transform: scale(.5);
    will-change: opacity, transform;
}
  
.notification.show-count::after {
    opacity: 1;
    transform: scale(1);
}
  
.notification::before {
    content: "\f0f3";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: xx-large;
    display: block;
}
  
.notification.notify::before {
    animation: bell 1s ease-out;
    transform-origin: center top;
}
  
@keyframes bell {
    0% {transform: rotate(35deg);}
    12.5% {transform: rotate(-30deg);}
    25% {transform: rotate(25deg);}
    37.5% {transform: rotate(-20deg);}
    50% {transform: rotate(15deg);}
    62.5% {transform: rotate(-10deg)}
    75% {transform: rotate(5deg)}
    100% {transform: rotate(0);}  
}

#toasts {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.toast {
    background-color: white;
    color: rebeccapurple;
    border-radius: 5px;
    padding: 1rem 2rem;
    margin: 0.5rem;
}

.toast.info {
    background-color: rgb(40, 43, 192);
    color: black;
}

.toast.success {
    background-color: rgb(10, 145, 10);
    color: black;
}

.toast.warning {
    background-color: rgb(161, 10, 10);
    color: black;
}